/* ! universal */
body {
  margin: 0;
}
/* ! hello heading */
.pageHeading {
  margin: 0;
  text-align: center;
  padding: 2%;
}
.header {
  background-color: purple;
  height: 80px;
  width: 100%;
}

/* !  user details */

.userDetails {
  margin-left: 2%;
  font-size: 24px;
}

.activity {
  margin: 2%;
  padding: 2%;
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

.detail {
  margin: 10% auto;
  text-align: center;
  background: rgba(128, 128, 128, 0.089);
}

.activeFailed {
  padding: 3%;
  text-align: center;
  background: red;
  height: 50px;
}
.activeSucess {
  padding: 3%;
  text-align: center;
  background: green;
  height: 100%;
}

/*  ! events */
.options {
  position: relative;
  bottom: 230px;
  left: 65%;
  width: 30%;
  height: 200px;
  border: 2px solid grey;
}

/* ! buttons */

.btn {
  display: block;
  line-height: 2;
  width: 80%;
  margin: 3% auto;
}
